div.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 35px;
  text-align: center;
}

div.word-container {
  margin: calc(2vw + 10px) 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

span.choosed-topic {
  color: rgb(250, 102, 159);
}

p.letter-p {
margin: 10px;
}

div.submit-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter-input {
  width: 100%;
  padding: 7px 10px;
  font-size: calc(1.5vw + 12px);
  outline: none;
  transition: border-radius 0.5s;
  border: none;
  border-radius: 3px;
  margin: 10px 0;
  color: white;
}

.letter-input:focus {
  border-radius: 20px;
  background-color: rgb(80, 80, 253);

}

button.button {
  font-size: 18px;
}

.game-btn { 
  width: 100%;
}

